body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    /* background-color: #333; */
    /* background-color: #DFF5FF; */
    background-color: beige;
    /* color: #fff; */
    color: #333;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}